/* General Styles */

html, body {
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

h1,
h2,
p,
a,
label {
    font-family: Roboto;
}

.spacer{
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer{
    background-image: url('./images/layered-waves-haikei.svg');
}

.second-layer{
    background-image: url('./images/second-spacer.svg');
}

.third-layer{
    background-image: url('./images/third-spacer.svg');
}

/* All styles related to the Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-top: 1rem;
}

.header a {
    color: #E5E7EB;
    text-decoration: none;
}

a:hover {
    text-decoration: underline #E5E7EB;
}

.right-links {
    display: flex;
    gap: 15px;
    padding-right: 90px;
}

.left-links {
    display: flex;
    padding-left: 90px;
    color: #F9FAF8;
    gap: 15px;
}

.left-links svg:hover {
    stroke: #3882F6;
}

@media only screen and (max-width:768px) {
    .header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
    }

    .left-links{
        padding-left: 0.2rem;
    }

    .right-links{
        padding-right: 0.2rem;
        padding-left: 0.2rem;
    }
}

/* All styles related to the About Me section */

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;  
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 100px;
}

.about-me img {
    height: 25rem;
    width: auto;
}

.about-me h1 {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}

.about-me p {
    color: #E5E7EB;
    font-size: 18px;
}

.email-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px;
    border-radius: 10px;
    border: solid #3882F6;
}

.email-button:hover {
    background-color: #388af6;
}

.info-container {
    max-width: 50%;
}

@media only screen and (max-width:768px) {
    .about-me{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .about-me img{
        max-width: 100%;
    }
}

/* All styles related to the My Projects section */

.project-showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.project-showcase h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 20px;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    height: 125px;
    width: 125px;
    border: #3882F6 solid 3px;
    border-radius: 10px;
}

.card img:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card p {
    color: #1F2937;
    font-size: 18px;
    display: flex;
}

/* All styles related to the My Certifications section */

.certifications-showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 100px;
}

.certifications-showcase h1 {
    color: #1F2937;
    font-weight: bolder;
    padding-bottom: 20px;
}

.certifications-showcase p {
    color: #1F2937;
    font-size: 18px;
}

/* All styles related to the My Skills section */

.skills-showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.skills-showcase h1 {
    padding-bottom: 20px;
}

.carousel-view {
    display: flex;
    gap: 1.5rem;
}

.carousel-view > button{
    border: none;
    background-color: #FFFF;
    cursor: pointer;
    color: #3882F6;
}

.carousel-view > button:active {
    background-color: #E5E7EB;
}

.item-list > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-list {
    max-width: 60px;
    min-width: 35vw;
    display: flex;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
}

.item-list::-webkit-scrollbar{
    display: none;
}

.item{
    scroll-snap-align: center;
    height: 125px;
    width: 125px;
    border: #3882F6 solid 3px;
    border-radius: 10px;
}

/* All styles related to contact me section */

.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 100px;
}

.contact-me h1{
    padding-bottom: 20px;
}

.form-container{
    background-color: #FFFF;
    padding: 2rem;
    border-radius: 5px;
    min-height: auto;
    min-width: 50%
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-inputs{
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    background-color: #F1F1F1;
    transition: border-color 0.3s ease;
}

.form-inputs:focus{
    border-color: #3882F6;
}

input::placeholder,
textarea::placeholder{
    color: black;
    font-family: Roboto;
}

textarea{
    resize: none;
    font-family: Roboto;
}

input[type="submit"]{
    background-color: #3882F6;
    border: none;
    color: #F1F1F1;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #0766fe;
}

/* All styles related to the Footer section */
.footer {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.footer a {
    color: black;
    text-decoration: none;
}

#top:hover {
    text-decoration: underline black;
}

.footer p {
    color: #E5E7EB;
    font-size: 2rem;
}